%p
  Log in below to get started
  
  - if @error
    %div{:class => "error"}
      = @error
  
  %form{:action => "/submit_open_id"}
    %label
      Your OpenID
    %input{:type => "text", :name => "open_id_input", :class => "openid"}
    %button{:type => "button"}
      Submit