%h1
  About
  
%p{:class => 'two_thirds_width'}
  Six Months Letter is a free to use service developed by kev_the_dev. Inspired by an activity I did at the end of the Cambridge run Enterprisers, and further inspired by FutureMe.org I decided to the create an app that would provide for my needs and mine alone.
  
%p{:class => 'two_thirds_width'}
  Please leave feedback using UserVoice (click the feedback widget on the right)