%h1
  All Done!
  
%p
  Your letter has been scheduled for delivery on
  = current_user.newest_delivery_date.send_on.strftime(EMAIL_DATE_FORMAT)
   
%p
  Now get cracking...

%p
  You don't want to disappoint your future self do you? Go on! See you in Six Months!