%h1
  Your six month letters
  
%p
  From here you can access your six month letters, both past and present

%div{:class => 'third_width'}
  %a{:href => "/sent_emails", :class => 'left'}
    Letters from the past
  
  %a{:href => '/unsent_emails', :class => 'right'}
    Letters of the future
    
%div{:class => 'clear'}