%p
  Log in below to get started
  
  %form{:action => "/submit_open_id"}
    %label
      Your OpenID
    %input{:type => "text", :name => "open_id_input"}
    %button{:type => "button"}
      Submit
