%div{:class => 'two_thirds_width'}

  %p{:class => 'reasons_to_use'}    
    Here at SixMonthLetter we believe that goals are very important, and we're not <a href="http://sethgodin.typepad.com/seths_blog/2009/01/the-thing-about.html">alone</a>. If you want to make things happen you need <a href="http://www.joelonsoftware.com/items/2009/01/08.html">goals</a>. Lots of applications help you get things done, but how do you know if you're making progress in the long term.
  %p{:class => 'reasons_to_use'}
    How can you remember what you wanted to have achieved just six months ago?
  %p{:class => 'reasons_to_use'}
    Simple
  %p{:class => 'reasons_to_use'}
    Write a letter to yourself with SixMonthLetter.com
  
  %p{:class => 'reasons_to_use'}
    State what you want to have achieved by this time in six months. In six months you will receive the letter from yourself via email.
  
  %p{:class => 'reasons_to_use'}
    Evaluate, rinse, repeat. Remember your future.
  
  %a{:href => '/signup'}
    Sign Up Today
  Or
  %a{:href => '/signin'}
    Sign In