%p
  Welcome to Six Month Letter, the service that helps you keep on track with your life goals.
  
%p
  %ul
    %li
      Write yourself a letter.
    %li
      Speak to yourself in six months time.
    %li
      What should you have done?  
    %li
      Where should you be?

%a{:href => '/signup'}
  Sign Up Today
Or
%a{:href => '/signin'}
  Sign In