= partial :_signin

%br

%p
  Welcome to Six Month Letter, the service that helps you keep on track with your life goals.
  
%p
  Write yourself a letter. Speak to yourself in six months time.
  
%p
  What should you have done?
  
%p
  Where should you be?
