!!! Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %title
      = @title || 'Six Month Letter'
    %link{:rel => 'stylesheet', :href => '/stylesheets/application.css', :type => 'text/css', :media => 'all'}
    %plain
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
      <script type="text/javascript" src="/javascript/application.js"></script>
  %body
    %div{:id => 'container'}
      %div{:id => 'menu_bar'}
        %div{:id => 'links'}          
          - if logged_in?
            %a{:href => '/new_email'}
              New Letter
            %a{:href => '/emails'}
              My Letters
            %a{:href => "/signout"}
              Log Out
          - else
            %a{:href => '/signin'}
              Sign In
            %a{:href => '/signup'}
              Sign Up
        %div{:class => 'clear'}
      %div{:id => 'title_bar'}
        Six Month Letter
        %p{:id => 'tagline'}
          Become Your Future
      - if session[:flash]
        %div{:class => 'flash'}
          %p{:class => session[:flash].type.to_s }        
            = session[:flash].content
          
          - session.delete(:flash)
          
          
      %div{:id => 'contents'}      
        = yield
    %div{:id => 'footer'}
      %a{:href => '/about'}
        About        
      %a{:href => '/contact'}
        Contact
    %plain
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-6927313-1");
      pageTracker._trackPageview();
      } catch(err) {}</script>

    
%plain
  <script src="http://sixmonthletter.uservoice.com/pages/general/widgets/tab.js?alignment=right&amp;color=00BCBA" type="text/javascript"></script>