!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      = @title || 'Six month reminder service'
    %link{:rel => "stylesheet", :href => "/stylesheets/application.css", :type => "text/css", :media => "all"}
  %body
    %div{:id => "menu_bar"}
      %div{:id => "links"}
        - if logged_in?
          %a{:href => "/signout"}
            Log Out
        - else
          %a{:href => "/signin"}
            Log In
      %div{:class => "clear"}
    %div{:id => "title_bar"}
      Every Six Months
    %div{:id => "contents"}      
      = yield
