%h1
  Letters of the past
  
%p
  These are letters that your former self once wrote. It's like some kind of time capsule or something!

- if @emails.any?
  = partial :_emails
- else
  %p
    Your time capsule is empty:
    %a{:href => '/new_email'}
      fill it up!