/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	background: #A9B3BB;
	height: 100%;
}

#container {
  min-height: 100%;
  margin-bottom: -330px;
  position: relative;
}

input.openid
{
   background: url(/images/openid_small_logo.png) no-repeat;
   background-position: 3px 50%;
   padding: 3px;
   padding-left: 21px;
   border-style: solid;
   border-color: #000000;
   border-width: 1px;
   background-color: #FFFFFF;
}

.error {
	color: #FF0000;
	margin-bottom: 10px;
}

#contents {
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	color: #FFFFFF;
	margin-top: 20px;
	margin-left: 30px;
}

#menu_bar {
	background: #000000;
	color: #FFFFFF;
	font-size: 13px;
	padding: 10px;
}

#title_bar {
	padding: 40px;
	padding-left: 30px;
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: bold;
	font-weight: bold;
	background: #fdb62a;
}

#tagline {
	#padding: 40px;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-style: bold;
	font-weight: bold;
	background: #fdb62a;
	color: #0000FF;
}

div#links {
	float: right;
}

div#links a {
	color: #FFFFFF;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	margin-right: 10px;
}

h1, h2, h3 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1em;
}

h3 {
	font-size: 0.5em;
}

p, ul, ol {
	margin-bottom: 1em;
	line-height: 140%;
}

a {
	
}

a:hover {
	text-decoration: none;
	color: #FC3E1A;
}

img.left {
	float: left;
	margin: 3px 20px 0 0;
	border: 3px solid #848C8F;
}

img.right {
	float: right;
	margin: 3px 0 0 20px;
	border: 3px solid #848C8F;
}

.email_link {
	font-size: smaller;
	font-family: Arial, Helvetica, sans-serif;
}


/* Footer */

#footer {
	height: 20px;
  position: absolute;
  bottom: 0;
	margin-top: 20px;
	background: #000000;
	color: #FFFFFF;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
}



#footer a {
	margin-right: 5px;
	margin-left: 5px;

	text-align: center;
	font-size: smaller;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;


}

#email_content {
	color: #000000;
	width: 66%;
}

/* FLASH MESSAGES */

.flash {
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 30px;
}

.notice {
	color: #0000FF;
}

.error {
	color: #FF0000;
}

.third_width {
	width: 35%;
}

.two_thirds_width {
	width: 66%;
}

.left {
	float: left;

}

.right {
	float: right;

}

/* MISC */

.clear {
	clear: both;
}